@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

/* Navbar start */
.navbar {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.navbar a:hover {
  background-color: white;
  color: black;
}
/* Navbar end */

h1 {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

p {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: rgb(0, 139, 139);
  transition: 0.5s;
}

img {
  display: flex;
  width: 450px;
  height: 450px;
  padding: 20px;
  min-width: 33%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  transition: 0.3s;
}

.photobox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

img:hover {
  opacity: 0.8;
  width: 500px;
  height: 500px;
  cursor: pointer;
}

button {
  background-color: aquamarine;
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 4px;
  opacity: 0.9;
  transition: 0.3s;
}

button:hover {
  background-color: pink;
  cursor: pointer;
}

a:hover {
  color: pink;
  cursor: pointer;
}
/* ****************** Tablet screen****************** */
@media (min-width: 481px) and (max-width: 768px) {
  /* Navbar start */

  .navbar a {
    font-size: 20px;
  }
  /* Navbar end */

  h1 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

  h2 {
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
  }

  p {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
  }

  img {
    display: flex;
    min-width: 50%;
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

/* ****************** Mobile screen****************** */
@media (max-width: 480px) {
  /* Navbar start */

  .navbar a {
    font-size: 14px;
  }
  /* Navbar end */

  h1 {
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

  h2 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
  }

  p {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
  }

  img {
    display: flex;
    min-width: 100%;
    padding: 20px;
    flex-wrap: wrap;
  }
}
